<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>User List</h1>
    <section style="display: grid; grid-template-columns: auto auto auto;">
      <% users.forEach(user => { %>
      <div style="border: 2px solid black; width: 500px; height: auto;">
        <h1><%= user.name %></h1>
        <h1><%= user.email %></h1>
        <h3><%= user.age %></h3>
        <h3><%= user.isSmoker %></h3>
      </div>
      <% }); %>
    </section>
  </body>
</html>
